<div class="w-full flex justify-center bg-slate-600">
  <div class="w-4/5 flex flex-wrap">
    <div class="w-full md:w-1/2 flex flex-col p-8">
      <div class="text-white">Redes sociales</div>
      <div class="text-white">
        <a href="https://www.facebook.com/MincomercioCo/"
          ><ng-icon class="mt-2" name="bootstrapFacebook"></ng-icon
        ></a>
      </div>
      <div class="text-white">
        <a href="https://x.com/MincomercioCo"
          ><ng-icon class="mt-2" name="bootstrapX"></ng-icon
        ></a>
      </div>
      <div class="text-white">
        <a href="https://www.instagram.com/mincomercioco/"
          ><ng-icon class="mt-2" name="bootstrapInstagram"></ng-icon
        ></a>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex flex-col p-8">
      <div class="text-white">Lineas de atención</div>
      <div class="text-white">123456789</div>
    </div>
  </div>
</div>
